body {
  font-family: Gill Sans, sans-serif;
  background-color: cyan;
  text-align: center;
}

p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100ch;
}

a {
  text-decoration: none;
  color: blue;
  background-color: lavender;
  padding: 10px;  
}

.back {
  margin: 40px;
}