body {
  font-family: Gill Sans, sans-serif;
  background-color: cyan;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
  background-color: lavender;
  padding: 10px;  
}

.link {
  margin: 20px;
}

.back {
  margin: 40px;
}